{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Django Template | Section</title>

        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex flex-col min-h-screen bg-[#1f2635] text-white xl:container xl:mx-auto p-6 sm:p-8">
        

        <!-- Main -->
        <h1>Hello There</h1>

        <!-- Footer -->
        
    </body>
</html>
